{
  "openapi": "3.1.0",
  "info": {
    "title": "Rocksky XRPC API",
    "version": "1.0.0",
    "description": "Generated from the registered Rocksky XRPC handlers and current lexicons. Provider-defined payloads remain open schemas. Some handlers return empty fallback objects on service failures. This reference describes the repository implementation; production may run an earlier revision.",
    "license": {
      "name": "MIT License",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.rocksky.app/xrpc",
      "description": "Rocksky API"
    }
  ],
  "paths": {
    "/app.rocksky.actor.getActorAlbums": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get albums for an actor",
        "operationId": "app.rocksky.actor.getActorAlbums",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of albums to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of albums to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "The start date to filter albums from (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The start date to filter albums from (ISO 8601 format)",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "The end date to filter albums to (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The end date to filter albums to (ISO 8601 format)",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "albums": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.album.defs__albumViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getActorArtists": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get artists for an actor",
        "operationId": "app.rocksky.actor.getActorArtists",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of albums to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of albums to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "The start date to filter albums from (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The start date to filter albums from (ISO 8601 format)",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "The end date to filter albums to (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The end date to filter albums to (ISO 8601 format)",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.artist.defs__artistViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getActorCompatibility": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get compatibility for an actor",
        "operationId": "app.rocksky.actor.getActorCompatibility",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "DID or handle to get compatibility for",
            "schema": {
              "type": "string",
              "description": "DID or handle to get compatibility for",
              "x-lexicon-format": "at-identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "compatibility": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/app.rocksky.actor.defs__compatibilityViewBasic"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getActorLovedSongs": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get loved songs for an actor",
        "operationId": "app.rocksky.actor.getActorLovedSongs",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of albums to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of albums to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.song.defs__songViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getActorNeighbours": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get neighbours for an actor",
        "operationId": "app.rocksky.actor.getActorNeighbours",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "neighbours": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.actor.defs__neighbourViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getActorPlaylists": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get playlists for an actor",
        "operationId": "app.rocksky.actor.getActorPlaylists",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of playlists to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of playlists to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "RSQL filter expression, e.g. `name==\"Road trip*\";track.artist==\"Daft Punk\"`. Supports ==, !=, <, <=, >, >=, =in=, =out=, and `;`/`and`, `,`/`or` combinators, `*` wildcards in string values. Filterable fields: name, title, description, uri, spotifyLink, tidalLink, appleMusicLink, createdAt, updatedAt. The `track.title`, `track.artist`, `track.album` and `track.albumArtist` selectors match the playlist's contents, returning playlists that contain a matching track; several `track.*` terms joined with `;` must all be satisfied by the same track.",
            "schema": {
              "type": "string",
              "description": "RSQL filter expression, e.g. `name==\"Road trip*\";track.artist==\"Daft Punk\"`. Supports ==, !=, <, <=, >, >=, =in=, =out=, and `;`/`and`, `,`/`or` combinators, `*` wildcards in string values. Filterable fields: name, title, description, uri, spotifyLink, tidalLink, appleMusicLink, createdAt, updatedAt. The `track.title`, `track.artist`, `track.album` and `track.albumArtist` selectors match the playlist's contents, returning playlists that contain a matching track; several `track.*` terms joined with `;` must all be satisfied by the same track.",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "playlists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.playlist.defs__playlistViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getActorScrobbles": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get scrobbles for an actor",
        "operationId": "app.rocksky.actor.getActorScrobbles",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of albums to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of albums to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scrobbles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.scrobble.defs__scrobbleViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getActorSongs": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get songs for an actor",
        "operationId": "app.rocksky.actor.getActorSongs",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of albums to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of albums to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "The start date to filter albums from (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The start date to filter albums from (ISO 8601 format)",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "The end date to filter albums to (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The end date to filter albums to (ISO 8601 format)",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.song.defs__songViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.actor.getProfile": {
      "get": {
        "tags": [
          "app.rocksky.actor"
        ],
        "summary": "Get the profile of an actor",
        "operationId": "app.rocksky.actor.getProfile",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.actor.defs__profileViewDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.album.getAlbum": {
      "get": {
        "tags": [
          "app.rocksky.album"
        ],
        "summary": "Get detailed album view",
        "operationId": "app.rocksky.album.getAlbum",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "The URI of the album to retrieve.",
            "schema": {
              "type": "string",
              "description": "The URI of the album to retrieve.",
              "x-lexicon-format": "at-uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.album.defs__albumViewDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.album.getAlbumTracks": {
      "get": {
        "tags": [
          "app.rocksky.album"
        ],
        "summary": "Get tracks for an album",
        "operationId": "app.rocksky.album.getAlbumTracks",
        "security": [],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "The URI of the album to retrieve tracks from",
            "schema": {
              "type": "string",
              "description": "The URI of the album to retrieve tracks from",
              "x-lexicon-format": "at-uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.song.defs__songViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.album.getAlbums": {
      "get": {
        "tags": [
          "app.rocksky.album"
        ],
        "summary": "Get albums",
        "operationId": "app.rocksky.album.getAlbums",
        "security": [],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of albums to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of albums to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "genre",
            "in": "query",
            "required": false,
            "description": "The genre to filter artists by",
            "schema": {
              "type": "string",
              "description": "The genre to filter artists by"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "RSQL filter expression, e.g. `artist==\"Daft Punk\";year=ge=2000`. Supports ==, !=, <, <=, >, >=, =in=, =out=, and `;`/`and`, `,`/`or` combinators, `*` wildcards in string values. Filterable fields: title, artist, year, releaseDate, sha256, uri, artistUri, createdAt",
            "schema": {
              "type": "string",
              "description": "RSQL filter expression, e.g. `artist==\"Daft Punk\";year=ge=2000`. Supports ==, !=, <, <=, >, >=, =in=, =out=, and `;`/`and`, `,`/`or` combinators, `*` wildcards in string values. Filterable fields: title, artist, year, releaseDate, sha256, uri, artistUri, createdAt",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "albums": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.album.defs__albumViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.apikey.createApikey": {
      "post": {
        "tags": [
          "app.rocksky.apikey"
        ],
        "summary": "Create a new API key for the authenticated user",
        "operationId": "app.rocksky.apikey.createApikey",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.apikey.defs__apiKeyView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the API key."
                  },
                  "description": {
                    "type": "string",
                    "description": "A description for the API key."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "description": "The current handler contains placeholder logic; a successful response does not guarantee the requested operation was performed.",
        "x-implementation-status": "placeholder"
      }
    },
    "/app.rocksky.apikey.getApikeys": {
      "get": {
        "tags": [
          "app.rocksky.apikey"
        ],
        "summary": "Get a list of API keys for the authenticated user",
        "operationId": "app.rocksky.apikey.getApikeys",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The number of API keys to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "description": "The number of API keys to skip before starting to collect the result set."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of API keys to return per page.",
            "schema": {
              "type": "integer",
              "description": "The number of API keys to return per page."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apikeys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.apikey.defs__apiKeyView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "The current handler contains placeholder logic; a successful response does not guarantee the requested operation was performed.",
        "x-implementation-status": "placeholder"
      }
    },
    "/app.rocksky.apikey.removeApikey": {
      "post": {
        "tags": [
          "app.rocksky.apikey"
        ],
        "summary": "Remove an API key for the authenticated user",
        "operationId": "app.rocksky.apikey.removeApikey",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the API key to remove.",
            "schema": {
              "type": "string",
              "description": "The ID of the API key to remove."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.apikey.defs__apiKeyView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "The current handler contains placeholder logic; a successful response does not guarantee the requested operation was performed.",
        "x-implementation-status": "placeholder"
      }
    },
    "/app.rocksky.apikey.updateApikey": {
      "post": {
        "tags": [
          "app.rocksky.apikey"
        ],
        "summary": "Update an existing API key for the authenticated user",
        "operationId": "app.rocksky.apikey.updateApikey",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.apikey.defs__apiKeyView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The ID of the API key to update."
                  },
                  "name": {
                    "type": "string",
                    "description": "The new name of the API key."
                  },
                  "description": {
                    "type": "string",
                    "description": "A new description for the API key."
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              }
            }
          }
        },
        "description": "The current handler contains placeholder logic; a successful response does not guarantee the requested operation was performed.",
        "x-implementation-status": "placeholder"
      }
    },
    "/app.rocksky.artist.getArtist": {
      "get": {
        "tags": [
          "app.rocksky.artist"
        ],
        "summary": "Get artist details",
        "operationId": "app.rocksky.artist.getArtist",
        "security": [],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "The URI of the artist to retrieve details from",
            "schema": {
              "type": "string",
              "description": "The URI of the artist to retrieve details from",
              "x-lexicon-format": "at-uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.artist.defs__artistViewDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.artist.getArtistAlbums": {
      "get": {
        "tags": [
          "app.rocksky.artist"
        ],
        "summary": "Get artist's albums",
        "operationId": "app.rocksky.artist.getArtistAlbums",
        "security": [],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "The URI of the artist to retrieve albums from",
            "schema": {
              "type": "string",
              "description": "The URI of the artist to retrieve albums from",
              "x-lexicon-format": "at-uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "albums": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.album.defs__albumViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.artist.getArtistListeners": {
      "get": {
        "tags": [
          "app.rocksky.artist"
        ],
        "summary": "Get artist listeners",
        "operationId": "app.rocksky.artist.getArtistListeners",
        "security": [],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "The URI of the artist to retrieve listeners from",
            "schema": {
              "type": "string",
              "description": "The URI of the artist to retrieve listeners from",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before returning results",
            "schema": {
              "type": "integer",
              "description": "Number of items to skip before returning results"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listeners": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.artist.defs__listenerViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.artist.getArtistRecentListeners": {
      "get": {
        "tags": [
          "app.rocksky.artist"
        ],
        "summary": "Get artist recent listeners ordered by most recent scrobble",
        "operationId": "app.rocksky.artist.getArtistRecentListeners",
        "security": [],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "The URI of the artist to retrieve recent listeners from",
            "schema": {
              "type": "string",
              "description": "The URI of the artist to retrieve recent listeners from",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before returning results",
            "schema": {
              "type": "integer",
              "description": "Number of items to skip before returning results"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listeners": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.artist.defs__recentListenerView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.artist.getArtistTracks": {
      "get": {
        "tags": [
          "app.rocksky.artist"
        ],
        "summary": "Get artist's tracks",
        "operationId": "app.rocksky.artist.getArtistTracks",
        "security": [],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": false,
            "description": "The URI of the artist to retrieve albums from",
            "schema": {
              "type": "string",
              "description": "The URI of the artist to retrieve albums from",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of tracks to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of tracks to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.song.defs__songViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.artist.getArtists": {
      "get": {
        "tags": [
          "app.rocksky.artist"
        ],
        "summary": "Get artists",
        "operationId": "app.rocksky.artist.getArtists",
        "security": [],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of artists to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of artists to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "names",
            "in": "query",
            "required": false,
            "description": "The names of the artists to return",
            "schema": {
              "type": "string",
              "description": "The names of the artists to return"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "required": false,
            "description": "The genre to filter artists by",
            "schema": {
              "type": "string",
              "description": "The genre to filter artists by"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "RSQL filter expression, e.g. `name==Daft*;genres=in=(house,electro)`. Supports ==, !=, <, <=, >, >=, =in=, =out=, and `;`/`and`, `,`/`or` combinators, `*` wildcards in string values. Filterable fields: name, genres, bornIn, born, died, sha256, uri, createdAt",
            "schema": {
              "type": "string",
              "description": "RSQL filter expression, e.g. `name==Daft*;genres=in=(house,electro)`. Supports ==, !=, <, <=, >, >=, =in=, =out=, and `;`/`and`, `,`/`or` combinators, `*` wildcards in string values. Filterable fields: name, genres, bornIn, born, died, sha256, uri, createdAt",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.artist.defs__artistViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.charts.getDecades": {
      "get": {
        "tags": [
          "app.rocksky.charts"
        ],
        "summary": "Get scrobble counts grouped by the release decade of the music",
        "operationId": "app.rocksky.charts.getDecades",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "description": "The DID or handle of the actor to scope the chart to",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor to scope the chart to",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "The start date to count scrobbles from (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The start date to count scrobbles from (ISO 8601 format)",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "The end date to count scrobbles to (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The end date to count scrobbles to (ISO 8601 format)",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "decades": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.charts.defs__decadeViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.charts.getScrobblesChart": {
      "get": {
        "tags": [
          "app.rocksky.charts"
        ],
        "summary": "Get the scrobbles chart",
        "operationId": "app.rocksky.charts.getScrobblesChart",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "description": "The DID or handle of the actor",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "artisturi",
            "in": "query",
            "required": false,
            "description": "The URI of the artist to filter by",
            "schema": {
              "type": "string",
              "description": "The URI of the artist to filter by",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "albumuri",
            "in": "query",
            "required": false,
            "description": "The URI of the album to filter by",
            "schema": {
              "type": "string",
              "description": "The URI of the album to filter by",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "songuri",
            "in": "query",
            "required": false,
            "description": "The URI of the track to filter by",
            "schema": {
              "type": "string",
              "description": "The URI of the track to filter by",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "required": false,
            "description": "The genre to filter by",
            "schema": {
              "type": "string",
              "description": "The genre to filter by"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date (ISO 8601). Defaults to 6 months ago.",
            "schema": {
              "type": "string",
              "description": "Start date (ISO 8601). Defaults to 6 months ago."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date (ISO 8601). Defaults to today.",
            "schema": {
              "type": "string",
              "description": "End date (ISO 8601). Defaults to today."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.charts.defs__chartsView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.charts.getTopArtists": {
      "get": {
        "tags": [
          "app.rocksky.charts"
        ],
        "summary": "Get top artists",
        "operationId": "app.rocksky.charts.getTopArtists",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "description": "The DID or handle of the actor to scope the chart to",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor to scope the chart to",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of artists to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of artists to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "The start date to filter artists from (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The start date to filter artists from (ISO 8601 format)",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "The end date to filter artists to (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The end date to filter artists to (ISO 8601 format)",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.artist.defs__artistViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.charts.getTopScrobblers": {
      "get": {
        "tags": [
          "app.rocksky.charts"
        ],
        "summary": "Get the listeners who scrobbled the most, all-time or over a date range",
        "operationId": "app.rocksky.charts.getTopScrobblers",
        "security": [],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of scrobblers to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of scrobblers to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "The start date to count scrobbles from (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The start date to count scrobbles from (ISO 8601 format)",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "The end date to count scrobbles to (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The end date to count scrobbles to (ISO 8601 format)",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scrobblers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.charts.defs__scrobblerViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.charts.getTopTracks": {
      "get": {
        "tags": [
          "app.rocksky.charts"
        ],
        "summary": "Get top tracks",
        "operationId": "app.rocksky.charts.getTopTracks",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "description": "The DID or handle of the actor to scope the chart to",
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor to scope the chart to",
              "x-lexicon-format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of tracks to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of tracks to return",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "schema": {
              "type": "integer",
              "description": "The offset for pagination",
              "minimum": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "The start date to filter tracks from (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The start date to filter tracks from (ISO 8601 format)",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "The end date to filter tracks to (ISO 8601 format)",
            "schema": {
              "type": "string",
              "description": "The end date to filter tracks to (ISO 8601 format)",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.song.defs__songViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.dropbox.downloadFile": {
      "get": {
        "tags": [
          "app.rocksky.dropbox"
        ],
        "summary": "Download a file from Dropbox by its unique identifier",
        "operationId": "app.rocksky.dropbox.downloadFile",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the file to download",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the file to download"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "This route is registered but currently throws a not-implemented error. It does not return the download described by its lexicon.",
        "x-implementation-status": "not-implemented"
      }
    },
    "/app.rocksky.dropbox.getFiles": {
      "get": {
        "tags": [
          "app.rocksky.dropbox"
        ],
        "summary": "Retrieve a list of files from Dropbox",
        "operationId": "app.rocksky.dropbox.getFiles",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "Path to the Dropbox folder or root directory",
            "schema": {
              "type": "string",
              "description": "Path to the Dropbox folder or root directory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.dropbox.defs__fileListView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.dropbox.getMetadata": {
      "get": {
        "tags": [
          "app.rocksky.dropbox"
        ],
        "summary": "Retrieve metadata of a file or folder in Dropbox",
        "operationId": "app.rocksky.dropbox.getMetadata",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path to the file or folder in Dropbox",
            "schema": {
              "type": "string",
              "description": "Path to the file or folder in Dropbox"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "description": "Metadata returned by the provider; currently an empty object."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "The current handler contains placeholder logic; a successful response does not guarantee the requested operation was performed.",
        "x-implementation-status": "placeholder"
      }
    },
    "/app.rocksky.dropbox.getTemporaryLink": {
      "get": {
        "tags": [
          "app.rocksky.dropbox"
        ],
        "summary": "Retrieve a temporary link to access a file in Dropbox",
        "operationId": "app.rocksky.dropbox.getTemporaryLink",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path to the file in Dropbox",
            "schema": {
              "type": "string",
              "description": "Path to the file in Dropbox"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.dropbox.defs__temporaryLinkView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.equalizer.deletePreset": {
      "post": {
        "tags": [
          "app.rocksky.equalizer"
        ],
        "summary": "Delete one of the authenticated user's equalizer presets.",
        "operationId": "app.rocksky.equalizer.deletePreset",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "rkey",
            "in": "query",
            "required": true,
            "description": "Record key of the preset to delete.",
            "schema": {
              "type": "string",
              "description": "Record key of the preset to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.equalizer.listPresets": {
      "get": {
        "tags": [
          "app.rocksky.equalizer"
        ],
        "summary": "List equalizer presets. If `did` is provided the request is public; otherwise an auth token is required and the caller's own presets are returned.",
        "operationId": "app.rocksky.equalizer.listPresets",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": false,
            "description": "DID or handle of the user whose presets to fetch. Required for unauthenticated requests.",
            "schema": {
              "type": "string",
              "description": "DID or handle of the user whose presets to fetch. Required for unauthenticated requests.",
              "x-lexicon-format": "at-identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/app.rocksky.equalizer.defs__presetView"
                      }
                    }
                  },
                  "required": [
                    "presets"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "Supply did for public lookup, or authenticate to use your own DID."
      }
    },
    "/app.rocksky.equalizer.putPreset": {
      "post": {
        "tags": [
          "app.rocksky.equalizer"
        ],
        "summary": "Create or update one of the authenticated user's equalizer presets. The record key is derived from the name (lower case, dashes, no spaces), so saving with an existing name overwrites that preset.",
        "operationId": "app.rocksky.equalizer.putPreset",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.equalizer.defs__presetView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name of the preset.",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "precut": {
                    "type": "integer",
                    "description": "Pre-amplification cut in tenths of dB applied before EQ bands (e.g. -60 = -6.0 dB)",
                    "minimum": -240,
                    "maximum": 0
                  },
                  "bands": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/app.rocksky.rockbox.defs__equalizerBand"
                    },
                    "description": "Up to 10 EQ bands"
                  }
                },
                "required": [
                  "name",
                  "bands"
                ]
              }
            }
          }
        }
      }
    },
    "/app.rocksky.feed.getAlbumRecommendations": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Get personalised album recommendations for a user",
        "operationId": "app.rocksky.feed.getAlbumRecommendations",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "DID or handle of the user to recommend for.",
            "schema": {
              "type": "string",
              "description": "DID or handle of the user to recommend for."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.feed.defs__recommendedAlbumsView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.feed.getArtistRecommendations": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Get personalised artist recommendations for a user",
        "operationId": "app.rocksky.feed.getArtistRecommendations",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "DID or handle of the user to recommend for.",
            "schema": {
              "type": "string",
              "description": "DID or handle of the user to recommend for."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.feed.defs__recommendedArtistsView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.feed.getFeed": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Get the feed by uri",
        "operationId": "app.rocksky.feed.getFeed",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "required": true,
            "description": "The feed URI.",
            "schema": {
              "type": "string",
              "description": "The feed URI.",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of scrobbles to return",
            "schema": {
              "type": "integer",
              "description": "The maximum number of scrobbles to return",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The cursor for pagination",
            "schema": {
              "type": "string",
              "description": "The cursor for pagination"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.feed.defs__feedView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "Authentication is required when filtering by following."
      }
    },
    "/app.rocksky.feed.getFeedGenerator": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Get information about a feed generator",
        "operationId": "app.rocksky.feed.getFeedGenerator",
        "security": [],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "required": true,
            "description": "AT-URI of the feed generator record.",
            "schema": {
              "type": "string",
              "description": "AT-URI of the feed generator record.",
              "x-lexicon-format": "at-uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "view": {
                      "$ref": "#/components/schemas/app.rocksky.feed.defs__feedGeneratorView"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.feed.getFeedGenerators": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Get all feed generators",
        "operationId": "app.rocksky.feed.getFeedGenerators",
        "security": [],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The maximum number of feed generators to return.",
            "schema": {
              "type": "integer",
              "description": "The maximum number of feed generators to return.",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.feed.defs__feedGeneratorsView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.feed.getRecommendations": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Get personalised track recommendations for a user",
        "operationId": "app.rocksky.feed.getRecommendations",
        "security": [],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "DID or handle of the user to recommend for.",
            "schema": {
              "type": "string",
              "description": "DID or handle of the user to recommend for."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.feed.defs__recommendationsView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.feed.getStories": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Get all currently playing tracks by users",
        "operationId": "app.rocksky.feed.getStories",
        "security": [
          {},
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The maximum number of stories to return.",
            "schema": {
              "type": "integer",
              "description": "The maximum number of stories to return.",
              "minimum": 1
            }
          },
          {
            "name": "feed",
            "in": "query",
            "required": false,
            "description": "The feed URI to filter stories by.",
            "schema": {
              "type": "string",
              "description": "The feed URI to filter stories by.",
              "x-lexicon-format": "at-uri"
            }
          },
          {
            "name": "following",
            "in": "query",
            "required": false,
            "description": "If true, only return stories from users the viewer follows. Requires authentication.",
            "schema": {
              "type": "boolean",
              "description": "If true, only return stories from users the viewer follows. Requires authentication."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.feed.defs__storiesView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "Authentication is required when filtering by following."
      }
    },
    "/app.rocksky.feed.search": {
      "get": {
        "tags": [
          "app.rocksky.feed"
        ],
        "summary": "Search for content in the feed",
        "operationId": "app.rocksky.feed.search",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The search query string",
            "schema": {
              "type": "string",
              "description": "The search query string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app.rocksky.feed.defs__searchResultsView"
                }
              }
            }
          },
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        }
      }
    },
    "/app.rocksky.googledrive.downloadFile": {
      "get": {
        "tags": [
          "app.rocksky.googledrive"
        ],
        "summary": "Download a file from Google Drive by its unique identifier",
        "operationId": "app.rocksky.googledrive.downloadFile",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the file to download",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the file to download"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid XRPC request or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          },
          "default": {
            "description": "XRPC error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrpcError"
                }
              }
            }
          }
        },
        "description": "This route is registered but currently throws a not-implemented error. It does not return the download described by its lexicon.",
        "x-implementation-status": "not-implemented"
      }
    },
    "/app.rocksky.googledrive.getFile": {
[...]
