services:
  tap:
    image: ghcr.io/bluesky-social/indigo/tap:latest
    restart: always
    platform: linux/amd64
    ports:
      - "2480:2480"
    volumes:
      - ./data:/data
    environment:
      TAP_DATABASE_URL: sqlite:///data/tap.db
      TAP_RELAY_URL: https://relay1.us-east.bsky.network
      TAP_SIGNAL_COLLECTION: app.rocksky.scrobble
      TAP_COLLECTION_FILTERS: app.rocksky.graph.follow,app.rocksky.*
