services:
  tap:
    image: ghcr.io/bluesky-social/indigo/tap:latest
    depends_on:
      - webhook
    restart: always
    ports:
      - "2480:2480"
    volumes:
      - ./data:/data
    environment:
      TAP_DATABASE_URL: sqlite:///data/tap.db
      TAP_RELAY_URL: https://relay1.us-east.bsky.network
      TAP_WEBHOOK_URL: http://webhook:2481
      TAP_SIGNAL_COLLECTION: app.rocksky.scrobble
      TAP_COLLECTION_FILTERS: app.rocksky.graph.follow,app.rocksky.*
  webhook:
    build: .
    restart: always
    volumes:
      - ./tap-cache.db:/app/tap-cache.db
      - ./tap-cache.db-shm:/app/tap-cache.db-shm
      - ./tap-cache.db-wal:/app/tap-cache.db-wal
    ports:
      - "2481:2481"
