# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8000"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
PUBLIC_URL=""          # Set when deployed publicly, e.g. "https://mysite.com". Informs OAuth client id.
DB_PATH=":memory:"     # The SQLite database path. Leave as ":memory:" to use a temporary in-memory database.
FRONTEND_URL="http://localhost:5174"

# Secrets
# Must set this in production. May be generated with `openssl rand -base64 33`
# COOKIE_SECRET=""

XATA_BRANCH=main
XATA_API_KEY="your xata api key"
XATA_POSTGRES_URL="your xata postgres url"

SPOTIFY_REDIRECT_URI="http://localhost:8000/spotify/callback"
SPOTIFY_CLIENT_ID="your spotify client id"
SPOTIFY_CLIENT_SECRET="your spotify"
SPOTIFY_ENCRYPTION_KEY="your spotify encryption secret"
SPOTIFY_ENCRYPRION_IV="your spotify encryption iv"
ROCKSKY_BETA_TOKEN="your rocksky beta token"

NATS_URL="nats://localhost:4223"
ANALYTICS_URL="http://localhost:7879"

DROPBOX_REDIRECT_URI="http://localhost:8000/dropbox/oauth/callback"
DROPBOX_CLIENT_ID=""
DROPBOX_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:8000/googledrive/oauth/callback"

# The following envs depends on your docker compose setup
POSTGRES_URL="postgresql://postgres:mysecretpassword@localhost:5433/rocksky"
MEILISEARCH_API_KEY="masterkey"
REDIS_URL="redis://localhost:6380"

TIDAL_CLIENT_ID=
TIDAL_CLIENT_SECRET=
# TIDAL_REDIRECT_URI="http://localhost:8000/tidal/callback"

LASTFM_API_KEY=
LASTFM_API_SECRET=