# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8000"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
PUBLIC_URL=""          # Set when deployed publicly, e.g. "https://mysite.com". Informs OAuth client id.
DB_PATH=":memory:"     # The SQLite database path. Leave as ":memory:" to use a temporary in-memory database.
FRONTEND_URL="http://localhost:5174"

# Secrets
# Must set this in production. May be generated with `openssl rand -base64 33`
# COOKIE_SECRET=""

XATA_BRANCH=main
XATA_API_KEY="your xata api key"

SPOTIFY_REDIRECT_URI="http://localhost:8000/spotify/callback"
SPOTIFY_CLIENT_ID="your spotify client id"
SPOTIFY_CLIENT_SECRET="your spotify"
SPOTIFY_ENCRYPTION_KEY="your spotify encryption secret"
SPOTIFY_ENCRYPRION_IV="your spotify encryption iv"